body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  background-image: url(../src/images/canva-photo-editor\ \(1\).png);
  background-size: 1000px;
  background-repeat: repeat;
  background-color: #ffffee;
}

#root {
  width: 100%;
}

.App {
  width: 100%;
}

.space {
  padding: 0 0px 0 50px;
}

.meals-page {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items:  center;
}

.header-div {
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.header h2 {
  padding: 12px 0 0 0 ;
}

.button-categories {
  width: 100px;
  height: 52px;
  margin: 0 10px 5px 10px;
  font-size: 1.3rem;
}

.start-recipe-btn {
  bottom: 0;
  position: fixed;
}

.btnPosition {
  display: flex;
  justify-content: center;
}

.position-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #0062cc;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;

}

.header-categories {
  margin: 15px 0 15px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.meal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 75px;
}

.card-meals {
  margin: 15px 15px 15px 15px;
  max-width: 300px;
  box-shadow: 0 10px 15px 0 black;
}

.card-meals:hover {
  transition:box-shadow 0.3s;
  box-shadow: 0 10px 15px 0 gray;
}

.animated {
  transition: ease-in;
  animation: slide-in 0.5s;
}
.input-search-Bar {
  padding: 0 5px 0 20px;
}

.input-sb {
  width: 80%;
  max-width: 600px;
}

.footer-item {
  width: 30px;
}

.instructions {
  width: 80%;
  text-align: justify;
  background: rgba(255, 255, 255, 0.61);
  border-radius: 10px ;
  padding: 10px;
}

.instructions p {
  font-size: 20px;
}

.instructions ul li {
  font-size: 20px;
}

.recipe-food-margin {
}

.card-instruction {
  margin-top: 15px
}
.icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 100px;
}

#meals {
  height: 100vh;
  width: 100%;
  background: #0fa36b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color: #464646;
}

#rocksGlass {
  max-height: 80vh;
  animation: shake 1s infinite ease;
}

#iceLeft {
  /* transform-origin set in px for firefox compatibility */
  opacity: 0.6;
  transform-origin: 36px 66px;
  animation: clink .8s infinite ease;
}

#iceRight {
  /* transform-origin set in px for firefox compatibility */
  opacity: 0.6;
  transform-origin: 60px 78px;
  animation: clink .8s .2s infinite ease;
}

#meals > span {
  color: aliceblue;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  animation: shake 1.5s infinite ease;
}


@keyframes slide-in {
  0% {
    margin-top: -72px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes clink {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
