body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  background-image: url(../src/images/canva-photo-editor\ \(1\).png);
  background-size: 1000px;
  background-repeat: repeat-y;
}

.App {
  width: 340px;
}

.image {
  position: fixed;
  top: 0;
  left: 0;
  max-height: 1000px;
  opacity: 75%;
  z-index: 0;
}

.space {
  padding: 0 0px 0 50px;
}

.meals-Page {
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items:  center;
  z-index: 1;
}

.start-recipe-btn {
  bottom: 0;
  position: fixed;
}

.btnPosition {
  display: flex;
  justify-content: center;
}

.position-fixed {
  margin-left: -10px;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  align-items:  center;
  width: 360px;
}

.header-categories {
  margin: 15px 0 20px 0;
}

.meal-container {
  margin: 15px 15px 15px 15px;
}

.card-meals {
  margin-bottom: 15px;
}

#meals {
  height: 100vh;
  width: 100%;
  background: #0fa36b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color: #464646;
}

#rocksGlass {
  max-height: 80vh;
  animation: shake 1s infinite ease;
}

#iceLeft {
  /* transform-origin set in px for firefox compatibility */
  opacity: 0.6;
  transform-origin: 36px 66px;
  animation: clink .8s infinite ease;
}

#iceRight {
  /* transform-origin set in px for firefox compatibility */
  opacity: 0.6;
  transform-origin: 60px 78px;
  animation: clink .8s .2s infinite ease;
}

#meals > span {
  color: aliceblue;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  animation: shake 1.5s infinite ease;
}

@media screen and (min-width: 1200px) 
{
  .image {
    width: 100%;
    max-height: none;
  }
}

@keyframes shake {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
